.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 50%;
  transition: background var(--transition);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  svg {
    display: block;
    transition:
      fill var(--transition),
      stroke var(--transition);
  }

  &:hover,
  &:focus {
    background: #fbeff2;
    outline: none;
  }

  &--active svg {
    fill: #e11d48 !important;
    stroke: #e11d48 !important;
  }
}
